@import "../../assets/style/constants";

.cart {
	position: fixed;
	z-index: 2;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 100vh;
	padding: 20px;
	background-color: $color-second;
	box-shadow: -2px 0 4px $color-first;
	transition: 0.5s;

	.cart-title {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 2rem;
	}

	.cart-total {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.5rem;
		border-top: 2px solid;

		.cart-total-title {
			font-size: 1rem;
			font-weight: 600;
		}

		.cart-total-price {
			margin-left: 0.5rem;
		}
	}

	.cart-btn-buy {
		display: flex;
		margin: 1.5rem auto 0 auto;
		padding: 12px 20px;
		border: none;
		background: $color-third;
		color: white;
		font-size: 1rem;
		font-weight: 500;
		cursor: pointer;

		&:hover {
			background-color: $color-fourth;
		}
	}

	#cart-close {
		position: absolute;
		top: 1rem;
		right: 0.8rem;
		font-size: 2rem;
		color: $color-fourth;
		cursor: pointer;
	}
}

.cart.active {
	right: 0;
}
