@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
body {
  background-color: #9dd1f1;
}

body * {
  font-family: "Roboto", sans-serif;
  color: #031927;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #9dd1f1;
  -webkit-box-shadow: 0 1px 4px #031927;
          box-shadow: 0 1px 4px #031927;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
}

.logo {
  font-size: 1.1rem;
  color: #031927;
  font-weight: 500;
}

#nav-cart-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

section {
  padding: 5rem 0 3rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.shop {
  margin-top: 2rem;
}

.shop .shop-content {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.shop .shop-item {
  position: relative;
}

.shop .shop-item:hover {
  padding: 10px;
  border: 3px solid #031927;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shop .shop-item .shop-item-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.shop .shop-item .shop-item-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.shop .shop-item .shop-item-price {
  font-weight: 500;
}

.shop .shop-item .shop-item-add-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 5px 5px 0px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #508aa8;
  color: white;
}

.shop .shop-item .shop-item-add-icon:hover {
  background-color: #ba1200;
}

.cart {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background-color: #9dd1f1;
  -webkit-box-shadow: -2px 0 4px #031927;
          box-shadow: -2px 0 4px #031927;
}

.cart .cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart .cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 50% 18%;
      grid-template-columns: 32% 50% 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart .cart-item .cart-item-image {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}

.cart .cart-item .cart-item-details {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

.cart .cart-item .cart-item-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.cart .cart-item .cart-item-price {
  font-weight: 500;
}

.cart .cart-item .cart-item-quantity {
  border: 2px solid #031927;
  outline-color: #508aa8;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart .cart-item .cart-item-remove {
  font-size: 24px;
  color: #ba1200;
  cursor: pointer;
}

.cart .cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 2px solid;
}

.cart .cart-total .cart-total-title {
  font-size: 1rem;
  font-weight: 600;
}

.cart .cart-total .cart-total-price {
  margin-left: 0.5rem;
}

.cart .cart-btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: #508aa8;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.cart .cart-btn-buy:hover {
  background-color: #ba1200;
}

.cart #cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: #ba1200;
  cursor: pointer;
}
