//Reset
@import "./reset";

// Constants
@import "./constants.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// Box icons
@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

* {
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	color: $color-first;
	box-sizing: border-box;
}

body {
	background-color: $color-second;

	* {
		font-family: "Roboto", sans-serif;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 600;
	}

	h3 {
		font-size: 1.4rem;
		font-weight: 500;
	}

	h4 {
		font-size: 1.2rem;
		font-weight: 500;
	}
}

section {
	margin-top: 2rem;
	padding: 4rem 0 3rem;

	.section-title {
		text-align: center;
	}
}

.container {
	max-width: 1380px;
	margin-inline: auto;
	width: 100%;
	padding-inline: $horizontal-padding;
}
